name: Create a release

env:
  DOTNET_VERSION: 7.x

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - '!v0.0.0' # The tag "v0.0.0" is used for testing.
  workflow_dispatch:
    inputs:
      isDraft:
        type: boolean
        default: true
        description: 'Create a draft'

permissions:
  contents: write

defaults:
  run:
    shell: pwsh

jobs:
  main-job:
    runs-on: windows-latest

    steps:
    - name: Init
      run: |
        [Console]::OutputEncoding = [System.Text.Encoding]::UTF8

    - name: Checkout
      uses: actions/checkout@v4

    - name: Set environment variables
      run: |
        .\ci\set-vars.ps1 -github_ref_name '${{ github.ref_name }}' -github_repository $env:GITHUB_REPOSITORY

    - name: Create release
      run: .\ci\create-release.ps1

    - name: Cleanup draft v0.0.0 releases
      if: env.ACT == 'true' && startsWith(github.ref, 'refs/tags/') && github.ref_name == 'v0.0.0'
      run: .\ci\cleanup-draft-releases.ps1 '${{ github.repository }}'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: GH Release
      uses: softprops/action-gh-release@v2.0.4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        files: |
          ${{ env.RELEASE_DIR }}/*
        draft: ${{ inputs.isDraft == true && true || false }}

    - name: Delete temporary tag v0.0.0
      if: env.ACT == 'true' && startsWith(github.ref, 'refs/tags/') && github.ref_name == 'v0.0.0'
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        Write-Output "Deleting temporary tag v0.0.0"
        git tag -d v0.0.0 2>$null
        git push origin :refs/tags/v0.0.0
