name: Create a release

env:
  RELEASE_DIR: .RELEASE
  DOTNET_VERSION: 7.x
  HASH_ALGORITHM: SHA-256

on:
  push:
    tags: 'v[0-9]+.[0-9]+.[0-9]+**'
  workflow_dispatch:
    inputs:
      isDraft:
        type: boolean
        default: true
        description: 'Create a draft'

permissions:
  contents: write

defaults:
  run:
    shell: pwsh

jobs:
  main-job:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Checkout lua-mods-libs
      uses: actions/checkout@v4

    - name: Set environment variables
      run: |
        $name = Split-Path -Path (Get-Location) -Leaf
        $version = '${{ github.ref_name }}' -replace '^v(?=\d+\.\d+\.\d+)', ''
        $releaseFilename = $name + ".zip"
        "NAME=$name" | Out-File -FilePath $env:GITHUB_ENV -Append
        "VERSION=$version" | Out-File -FilePath $env:GITHUB_ENV -Append
        "RELEASE_FILENAME=$releaseFilename" | Out-File -FilePath $env:GITHUB_ENV -Append

    - name: Run scripts and export variables
      run: |
        $vars = & ".\create-release.ps1"
        $vars | ForEach-Object {
            $_.GetEnumerator() | ForEach-Object {
                "$($_.Key)=$($_.Value)" | Out-File -FilePath $env:GITHUB_ENV -Append
            }
        }
        create-index-metadata.ps1

    - name: GH Release
      uses: softprops/action-gh-release@v2.0.4
      with:
        files: |
          $ReleaseDir\$ReleaseFilename
          $ReleaseDir\$ReleasePakFilename
        draft: ${{ inputs.isDraft == true && true || false }}
        append_body: true
        body: |
          ```
          VERSION: $version
          SHA-256: $hash
          ```
